body{
    background-image:url(../img_shams/BG3.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    border-radius: 30% 30%;
    width: 300px;
    position: relative;
    left: 570px ;
}   

.desc{
    color: white;
    font-weight: bold;
    font-size: xx-large;
    position: relative;
    left: 200px ;
}
ul{
    position: relative;
    left:200px;
}
li
{
    font-size: xx-large;
    color: red;
    margin: 20px;
}
.sweets a
{
    color: red;
}
li a
{
    color: white;

}


.photo{
    width: 700px;
    height: 400px;
}
li p{
    color: white;
}

.Back
{
    color: white;
    font-size: xx-large;
    background-color: red;
    position: relative;
    left:600px;
    width: 300px;
    height: 100px;
    border-radius: 60px;
    cursor: grab;
}

.Next
{
    color: white;
    font-size: xx-large;
    background-color: green;
    position: relative;
    left:600px;
    width: 300px;
    height: 100px;
    border-radius: 60px;
    cursor: grab;
}

video
{
    width: 700px;
    height: 400px;
}

audio
{
    width: 100px;
}

.logo
{
    width: 100px;
    height: 70px;
    position: fixed;
    left: 50px;
    
}
.info{

    color: blue;
}